.app__Gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-black;
    margin: 0 3rem;
    overflow: hidden;

    // padding: 2rem 0;
    &__content {
        flex: 1;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
            color: $color-golden;
        }

        p {
            color: $color-grey;
            margin: .75rem 0;
        }

        button {
            background-color: $color-golden;
            display: inline-block;
            width: 15rem;
        }
    }

    &__imgContainer {
        flex: 1.2;
    }
}

.app__Gallery__imgContainer {
    max-width: 50%;
    height: 100%;
    position: relative;

    &__images {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        overflow-y: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .Gallery-img {
            min-width: 350px !important;
            height: 460px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__icons {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        svg {
            display: inline-block;
            background-color: $color-black;
            color: $color-golden;
        }
    }
}

@media screen and (max-width:1150px) {
    .app__Gallery {
        margin: 0%;
    }
}

@media screen and (max-width:1050px) {
    .app__Gallery {
        flex-direction: column;
        align-items: flex-start;

        &__content {
            flex: 1;
            width: 650px;
            margin-right: 0rem;
            margin-bottom: 3rem;
        }
    }

    .app__Gallery__imgContainer {
        max-width: 100%;
    }

    .Gallery-img {
        height: 100% !important; 
    }
}

@media screen and (max-width:700px) {
    .app__Gallery {

        &__content {
            width: 100%;
        }
    }
}