// video::-webkit-media-controls {
//     display: none;
//   }
  .app__Intro{
    position: relative;
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size:40px;
    }
  }